* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  background-color: rgba(248, 248, 248, 0.9);
  margin: 0 auto;
  width: 1455px;
}
/* header */
header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 90px;
  border-bottom: 1px solid #eceaea;
}
.header-logo,
.header-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header-logo img {
  width: 173px;
  height: 43px;
  margin-left: 30px;
}
.header-avatar img {
  width: 48px;
  height: 48px;
}
.header-avatar span {
  margin-right: 30px;
  font-size: 25px;
}
/* main */
main {
  width: 1248px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
/* confirm-book */
.confirm-book h1 {
  font-size: 40px;
  margin-bottom: 60px;
  margin-top: 90px;
}
.confirm-book h2 {
  font-size: 30px;
  margin-bottom: 35px;
}
.confirm-book .date-book,
.confirm-book .traveler {
  background-color: rgb(244, 242, 242);
  border-radius: 20px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-top: 10px;
  width: 490px;
  height: 60px;
  line-height: 20px;
}
.confirm-book > div > p:nth-child(2) {
  color: gray;
}
.confirm-book > img {
  margin-top: 20px;
  margin-bottom: 50px;
}
.confirm-book .card img:nth-child(1) {
  margin-right: 20px;
}
form {
  width: 490px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 10px;
}
form input[type="text"],
form input[type="password"] {
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 10px;
  border: 1px solid rgb(211, 211, 211);
}
form input[type="checkbox"] {
  width: 20px;
  height: 25px;
}
form p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
form input[type="submit"] {
  background-color: #2d5ef4;
  color: #fff;
  border-radius: 10px;
  font-size: 15px;
  width: 210px;
  height: 50px;
  border: none;
  margin-top: 30px;
}
form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form div p {
  margin-bottom: 10px;
}
/* book-details */
.book-details {
  background-color: #fff;
  width: 456px;
  height: 900px;
  border: 1px solid #e5e4e4;
  border-radius: 20px;
  margin-top: 90px;
  padding: 40px 35px 25px;
}
.book-details p:nth-child(2) {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}
.book-details p:nth-child(2) span,
.book-details .checkin-out p:nth-child(1),
.book-details .guest p:nth-child(1) {
  color: gray;
}
.book-details img {
  width: 340px;
  height: 190px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.book-details .checkin-out {
  width: 340px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  line-height: 10px;
}
.book-details .guest {
  line-height: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.book-details table {
  margin-top: 40px;
  width: 390px;
  border-spacing: 0;
}
.book-details table tr td {
  padding: 10px;
}
.book-details table .total {
  background-color: #f1efef;
}
.book-details .report {
  text-align: center;
  margin-top: 40px;
  color: gray;
}
/* aside */
aside {
  background-color: #2d5ef4;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  color: #fff;
  width: 1221px;
  height: 254px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(50%);
}
aside h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
aside p {
  font-size: 20px;
}
aside div input[type="email"] {
  width: 500px;
  height: 80px;
  border-radius: 10px;
  border: none;
}
aside div input[type="email"]::placeholder {
  font-size: 20px;
  padding-left: 20px;
}
aside div input[type="submit"] {
  width: 140px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  margin-left: -150px;
  border: none;
}
/* footer */
footer {
  height: 600px;
  background-color: rgb(245, 244, 244);
  color: #000;
  display: flex;
  justify-content: space-evenly;
}
footer ul {
  list-style: none;
}
footer .footer-logo img {
  width: 173px;
  height: 43px;
}
footer .footer-logo {
  margin-top: 226px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer div .button {
  width: 128px;
  height: 38px;
  border: 0.5px solid #464950;
  border-radius: 10px;
  margin-top: 30px;
  line-height: 38px;
  padding-left: 10px;
  text-align: center;
}

footer div p:nth-child(2) {
  width: 250px;
}
.footer-info {
  margin-top: 223px;
}
footer div p:nth-child(1) {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
ul li {
  color: gray;
  font-size: 16px;
  line-height: 24px;
  padding-top: 16px;
}
